# Application dependencies
# Only tabulate is needed for pretty-printing tables.
tabulate
colorama

# Scanner and API dependencies
opencv-python
pyzbar
requests
pillow
requests_oauthlib
fpdf2
flask

# Gmail OAuth and email processing
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
